 
  .clicker-game {
    background-color: #00bae5;
    color: #fff;
    text-align: center;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
  }
  
  .clicker-game h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff; /* Couleur orange */
    text-shadow: 2px 2px 4px rgba(43, 43, 43, 0.5);
  }
  
  .clicker-game p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .clicker-game button {
    background-color: #ffd04d; /* Couleur orange */
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .clicker-game button:hover {
    background-color: #ff9933; /* Couleur orange clair au survol */
  }
  
  .clicker-game input[type="text"] {
    font-size: 16px;
    padding: 5px;
    margin: 10px 0;
  }
  
  .clicker-game ul {
    list-style: none;
    padding: 0;
  }
  
  .clicker-game ul li {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .clicker-game .game-over {
    color: #ff3300; /* Couleur rouge */
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  /* Animation pour le bouton "Click Me!" */
  .clicker-game button:active {
    transform: scale(0.95);
    transition: transform 0.1s ease-in-out;
  }
  